<table class="table table-striped col-md-12" id="users">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user,idx| %>
        <tr>
          <td>
            <%= user.username %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>