// Place all the styles related to the regexes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden{
  display: none;
}

.button_with_thumb_up {
  background-image: image_url('thumbup.png');
}

.button_with_thumb_down {
  background-image: image_url('thumbdown.png');
}